<div class="container">
    <mat-form-field appearance="fill" class="namefield">
        <input matInput [(ngModel)]="name" placeholder="UserName"/>
        <mat-hint>Dein Benutzername :)</mat-hint>
      </mat-form-field>
      <mat-form-field  appearance="fill" class="passwordfield">
        <input matInput type="password" [(ngModel)]="password" placeholder="Password"/>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="CreateUser()" class="btnAddUser">
        Create User
      </button>
</div>
