
.searchfield{
  margin-right: 20px;
}
.searchfield:hover{
  cursor: pointer;
}
.toolbar{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  .title:hover{
    cursor: pointer;
  }
  .title:focus{
    outline: none;
  }
}
.left{
  display:flex;
  flex-direction: row;
}
.ButtonsearchByDepartment{

  text-align: left;
}

.DepartmentExPanel{
  box-shadow: none;

}

.DepartmentExPanelHeader{
  padding: 0 16px;
}


.sidenav{
  height: 100%;
}
.title{
  margin-top: 3px;
}
