.gridcontainer{
    display:grid;
    grid-template-areas:"chart text"
                        "chart text"
                        "other other";
    grid-template-columns: auto;
    grid-template-rows: auto;

}

.chartwrapper{
    grid-area: chart;
    place-self: center;
}

.itemcounts{
    grid-area: text;
}